<!DOCTYPE html>
<html>

<head>
    <title>Local Storage</title>

    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
        integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
        integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>
    <script> src = "https://github.com/gsklee/ngStorage/blob/master/ngStorage.min.js"</script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>

<body ng-app="localStorage">
    <div class="container" ng-controller="miControlador">
        <div class="jumbotron">
            <textarea rows="4" cols="50" ng-model="texto"></textarea>
            <br />
            <button ng-click="grabar()" class="btn btn-primary">Grabar</button>
            <button ng-click="cargar()" class="btn btn-primary">Cargar</button>
        </div>
    </div>

    <script src="js/angular.min.js"></script>
    <script src="js/ngStorage.min.js"></script>
    <script src="app.js"></script>
</body>

</html>